.back {
    display: block;
    position: fixed;
    width: 50px;
    background-color: grey;
    opacity: 0.4;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 15px;
    z-index: 10;
    margin-top: 20px;
}

.back:hover {
    opacity: 1;
}

a{
    margin: 10px;
}
