html, body {
    margin: 0;
    padding: 0;
    color: aqua;
}

p{
    font-size: 20px;
    color: black;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.main {
    width: 63.63636363636364%;
    background-color: #FFA500;
    float: left;
    height: 600px;
}

.aside {
    width: 36.36363636363636%;
    background-color: #1D2432;
    float: right;
    height: 600px;
}

.img {
    max-width: 100%;
}

@media screen and (max-width: 550px) {
    .main, .aside {
        float: none;
        width: 50%;
    }
}