@font-face{
    font-family: Raleway;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
}

.container {
    width: 1500px;
    margin: 0 auto;
    position: relative;
}

.header {
    display: block;
    width: 100%;
    height: 700px;
    background-color: #abeafa;
}

.logo {
    position: absolute;
    top: 24px;
    left: 234px;
    width: 125px;
    height: 111px;
}

.welcome {
    background-color: #ffff33;
    position: absolute;
    top: 300px;
    left: 165px;
    width: 470px;
}

.text1 {
    font-size: 30px;
    font-family: Myriad Pro;
    padding-left: 9px;
}

.text2 {
    font-size: 16px;
    font-family: 'Raleway';
    padding-left: 9px;
    margin-top: -12px;
}

.insta_icon {
    background-image: url(../img/Insta_icon.gif);
    position: absolute;
    top: 50px;
    left: 1255px;
    width: 16px;
    height: 16px;
}

.pinterest_icon {
    background-image: url(../img/P_icon.gif);
    position: absolute;
    top: 50px;
    left: 1229px;
    width: 14px;
    height: 16px;
}

.youtube_icon {
    background-image: url(../img/YouTube_icon.png);
    position: absolute;
    top: 50px;
    left: 1201px;
    width: 16px;
    height: 16px;
}

.twitter_icon {
    background-image: url(../img/Twitter_icon.gif);
    position: absolute;
    top: 51px;
    left: 1174px;
    width: 16px;
    height: 14px;
}

.facebook_icon {
    background-image: url(../img/Facebook_icon.gif);
    position: absolute;
    top: 50px;
    left: 1151px;
    width: 8px;
    height: 16px;
}

.menu {
    background-color: rgb(38, 210, 252);
    position: absolute;
    top: 681px;
    left: 165px;
    width: 270px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: rgb(51, 51, 51);
    width: 270px;
    height: 66px;
}

.text3 {
    font-size: 16px;
    font-family: "Roboto";
    color: white;
    font-weight: bold;
    width: 40px;
    height: 10px;
    padding: 13px 40px;
    text-transform: uppercase;
}

.hover:hover {
    background-color: rgb(51, 51, 51);
}

.text4 {
    font-size: 16px;
    font-family: "Roboto";
    color: white;
    font-weight: bold;
    width: 40px;
    height: 10px;
    padding: 13px 40px;
    display: table-cell;
    text-transform: uppercase;
}

.bg {
    background-color: rgb(224, 224, 224);
    position: absolute;
    top: 190px;
    left: 0px;
    width: 270px;
    height: 300px;
}

.open {
    font-size: 36px;
    margin: 129px 19px 73px 20px;
    font-family: cursive;
    font-weight: 700;
    text-transform: uppercase;
}


.shop {
    background-color: #fff;
    position: absolute;
    top: 682px;
    left: 465px;
    width: 870px;
    height: 724px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
}

.item {
    background-color: #f8f8f8;
    width: 270px;
    height: 320px;
}

.image {
    margin: 10px;
    width: 250px;
    height: 235px;
}

.products {
    font-size: 22px;
    font-family: "Roboto";
    color: rgb(112, 112, 112);
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: -3px;
    left: 10px;
}

.name {
    display: block;
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    font-style: italic;
    width: 200px;
    height: 13px;
    padding-left: 20px;
}

.cost {
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    font-style: italic;
    font-weight: 700;
    margin: 0px 0px 0px 205px;
    width: 62px;
    height: 12px;
}

.cost_extra {
    display: block;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(51, 51, 51);
    font-style: italic;
    font-weight: 700;
    margin: -16px 0px 0px 210px;
    width: 62px;
    height: 12px;
}

.Brand {
    display: flex;
    background-color: #eaeaea;
    position: absolute;
    top: 1460px;
    left: 165px;
    width: 1170px;
    height: 160px;
}

.brands {
    font-size: 30px;
    opacity: 0.5;
    width: 1142px;
    height: 26px;
    font-weight: 900;
    padding: 40px;
    text-transform: uppercase;
}

.insta_feed {
    background-color: #f8f8f8;
    position: absolute;
    top: 1622px;
    left: 165px;
    width: 1170px;
    height: 350px;
}

.insta_icon2 {
    background-image: url(../img/insta_icon_2.gif);
    position: absolute;
    top: 51px;
    left: 449px;
    width: 28px;
    height: 28px;
}

.feed {
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    top: 29px;
    left: 485px;
}

#hrsh {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    top: 44px;
    left: 635px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
}

.pic {
    width: 185px;
    height: 185px;
}

.bg_facebook {
    background-color: rgb(59, 89, 151);
    position: absolute;
    top: 1972px;
    left: 165px;
    width: 390px;
    height: 150px;
}

.bg_tw {
    background-color: rgb(63, 204, 253);
    position: absolute;
    top: 1972px;
    left: 555px;
    width: 390px;
    height: 150px;
}

.bg_pint {
    background-color: rgb(203, 32, 39);
    position: absolute;
    top: 1972px;
    left: 945px;
    width: 390px;
    height: 150px;
}

.ftp {
    margin: 49px 163px;
}

footer {
    background-color: #373737;
    position: absolute;
    left: 0px;
    top: 2122px;
    width: 1500px;
    height: 351px;
}

.copy {
    position: absolute;
    top: 310px;
    left: 1330px;
    color: white;
}

a {
    text-decoration: none;
}
