* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/static/Oswald-Semibold.ttf')
}

@font-face {
    font-family: Exo-Bold;
    src: url('../fonts/Exo_2/Exo2-Bold.ttf')
}

@font-face {
    font-family: Exo;
    src: url('../fonts/Exo_2/Exo2-Medium.ttf')
}

.container {
    width: 100%;
    margin: auto;
}

header {
    width: 100%;
    height: 956px;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}

.above_nav {
    width: 100%;
    height: 59px;
    background-color: #2d3e50;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 100%;
    height: 91px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.email {
    color: white;
    font-family: 'Exo';
}

.logo {
    width: 80px;
    margin-left: 160px;
    margin-right: 200px;
    height: 16px;
    font-family: 'Exo';
}

.anchors {
    text-transform: uppercase;
    font-family: 'Exo-Bold';
    font-size: 16px;
    color: #252C30;
    padding: 5px;
}

.anchors:hover b {
    color: black;
    transition: color ease 0.1s;
}

.anchors:hover {
    color: #FFC000;
    transition: color ease 0.1s;
}

.under_nav {
    margin: auto;
    width: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 550px;
    padding-top: 225px;
    padding-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 72px;
    font-family: 'Exo';
}

h2 {
    padding-bottom: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: sans-serif;
}

.phone_call {
    padding: 26px 65px;
    background-color: #FFC000;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-family: 'Exo-Bold';
}

.phone_call:hover {
    background-color: #252C30;
    transition: background-color ease 0.2s;
}

.offer {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    width: 713px;
    font-size: 18px;
    font-family: 'Exo';
}

h3 {
    text-align: center;
    font-size: 36px;
    color: #252c30;
    text-transform: capitalize;
    font-family: 'Exo';
    padding: 20px 30px;
}

.work {
    margin: auto;
    display: flex;
    margin-top: 50px;
    max-width: 900px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.example {
    margin: 13px;
    width: 207px;
    min-height: 378px;
    background-color: #2d3e50;
    border: solid #2d3e50 2px;
    padding-left: 23px;
    padding-right: 23px;
}

.example:hover {
    border-color: #ffc000;
    background-color: white;
}

.text_in_box {
    color: white;
    margin-top: 130px;
    text-align: center;
    font-family: 'Exo-Bold';
    text-transform: uppercase;
}

.explanation {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Exo';
}


.example:hover p {
    color: black;
}

.border_line {
    background-image: url(../img/border_line.png);
    width: 100%;
    height: 244px;
    background-size: cover;
}