* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Oswald;
    src: url('../fonts/Oswald/static/Oswald-Semibold.ttf')
}

@font-face {
    font-family: Exo-Bold;
    src: url('../fonts/Exo_2/Exo2-Bold.ttf')
}

@font-face {
    font-family: Exo;
    src: url('../fonts/Exo_2/Exo2-Medium.ttf')
}

.container {
    width: 100%;
    margin: auto;
}

header {
    width: 100%;
    height: 956px;
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
}

.above_nav {
    width: 100%;
    height: 59px;
    background-color: #2d3e50;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.email {
    color: white;
    font-family: 'Exo';
}

nav {
    width: 100%;
    min-height: 91px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.logo {
    width: 84px;
    height: 84px;
    margin-left: 160px;
    margin-right: 200px;
}

.anchors {
    text-transform: uppercase;
    font-family: 'Exo-bold';
    font-size: 16px;
    color: #252C30;
    padding: 5px;
    transition: 0.2s linear;
}

.anchors:hover b {
    color: black;
    transition: 0.1s linear;
}

.anchors:hover {
    color: #FFC000;
    transition: 0.1s linear;
}

.under_nav {
    margin: auto;
    width: 550px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    width: 570px;
    padding-top: 225px;
    padding-bottom: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 72px;
    font-family: 'Exo';
}

h2 {
    padding-bottom: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: sans-serif;
}

.phone_call {
    padding: 26px 65px;
    background-color: #FFC000;
    border-radius: 30px;
    color: white;
    font-size: 25px;
    font-family: 'Exo-Bold';
    transition: 0.2s linear;
}

.phone_call:hover {
    background-color: #252C30;
    transition: 0.2s linear;
}


.why_we {
    margin: auto;
    max-width: 1100px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.principles {
    width: 330px;
    margin-bottom: 30px;
}

.principles:hover .tag {
    transition: 0.2s linear;
    background-color: #252C30;
}

.tag {
    margin-right: 5px;
    display: block;
    width: 3px;
    height: 100%;
    background-color: #FFC000;
    float: left;
    transition: 0.2s linear;
}

.why_we span {
    font-size: 26px;
    font-family: 'Exo';
    text-transform: capitalize;
}

.why_we p {
    font-size: 16px;
    font-family: 'Exo';
}

.border_line {
    background-image: url(../img/border_line.png);
    width: 100%;
    height: 244px;
    background-size: cover;
}

.offer {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    max-width: 713px;
    font-size: 18px;
    font-family: 'Exo';
}

h3,
h4 {
    text-align: center;
    font-size: 36px;
    color: #252c30;
    text-transform: capitalize;
    font-family: 'Exo';
    padding: 20px 30px;
}

.work {
    margin: auto;
    display: flex;
    margin-top: 50px;
    max-width: 900px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.example {
    margin: 13px;
    width: 263px;
    min-height: 378px;
    background-size: cover;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s linear;
}

.example:hover {
    box-shadow: 3px 3px 5px grey;
    transform: scale(1.02);
    transition: 0.2s linear;
}

.text_in_box {
    margin-left: 14px;
    font-size: 30px;
    color: white;
    margin-top: 62%;
    text-align: center;
    font-family: 'Oswald';
    font-family: 'Exo-bold';
    text-transform: uppercase;
    letter-spacing: 15px;
}

.explanation {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-family: 'Exo';
}


.example:hover p {
    transition: 0.2s linear;
    color: black;
    opacity: 0;
}

.prices {
    padding-top: 50px;
    margin: auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

details{ 
    padding-top: 30px;
    width: 470px;
    font-family: 'Exo-Bold'; 
}

details summary::-webkit-details-marker {
    color:  #FFC000;
}

details summary ~ *{
    animation: sweep 0.5s linear;
}

@keyframes sweep {
    0%   {opacity: 0; margin-left: -10px;}
/*    40%  {height: 22.5px;}*/
    100% {opacity: 1; margin-left: 0px;}
}

details p {
    font-family: 'Exo';
}
