* {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url('../fonts/montserrat/Montserrat-ExtraLight.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/raleway/Raleway-Regular.ttf')
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('../fonts/raleway/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

.container {
    width: 1920px;
    margin: auto;
}

.back {
    display: block;
    position: fixed;
    width: 50px;
    background-color: grey;
    opacity: 0.4;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: black;
    border-radius: 15px;
    z-index: 10;
    margin-top: 5px;
}

.back:hover {
    opacity: 1;
}

.header {
    width: 100%;
    height: 1027px;
    background-image: url(../img/bg.png);
    position: relative;
}

.logo {
    margin-left: 377px;
    margin-top: 42px;
    float: left;
}

.waxom {
    display: inline-block;
    font-size: 34px;
    font-family: 'Raleway-Regular';
    color: #fff;
    margin-top: 47px;
    margin-left: 2px;
}

.home:hover {
    color: #c7b299;
    transition: color ease 0.2s;
}

.menu:hover {
    color: #c7b299;
    transition: color ease 0.2s;
}


.home {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Light';
    margin-left: 219px;
}

.menu {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Light';
    margin-left: 30px;
}

.portfolio {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Light';
    margin-left: 30px;
}

.cart {
    display: block;
    margin-left: 1520px;
    margin-top: -25px;
    width: 18px;
}

.search:focus {
    width: 225px;
    transition: width ease 1s;
}

.search {
    display: block;
    margin-left: 1598px;
    margin-top: -27px;
    width: 80px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 20px;
    background: transparent;
    border: none;
    color: #fff;
}

.lupa {
    position: absolute;
    top: 63px;
    left: 1570px;
    width: 24px;
    height: 24px;
}


.str {
    display: block;
    font-size: 30px;
    color: #fff;
    font-family: 'Raleway-Medium';
    text-align: center;
    margin-top: 288px;
}

.portfolio {
    display: block;
    font-size: 49px;
    color: #fff;
    font-family: 'Raleway-ExtraBold';
    text-align: center;
}

.nam {
    display: block;
    font-size: 16px;
    color: #fff;
    font-family: 'Raleway-Regular', 'Montserrat-Light';
    text-align: center;
    width: 562px;
    margin: auto;
    border: none;
}

.start:hover {
    background-color: #6c5541;
    transition: background-color ease 0.3s;
}

.start:focus {
    background-color: #342d25;
}

.start {
    display: block;
    width: 170px;
    height: 53px;
    margin: auto;
    background-color: #998675;
    font-size: 14px;
    font-family: 'Raleway-SemiBold';
    text-align: center;
    margin-top: 32px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
}

.sup {
    display: inline-block;
    margin-top: 17px;
}

.l_arrow {
    position: absolute;
    top: 457px;
    left: 151px;
}

.r_arrow {
    position: absolute;
    top: 457px;
    left: 1731px;
}

.radio {
    position: absolute;
    top: 973px;
    left: 926px;
    border: none;
}

.head_section {
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.themes {
    width: 1220px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 79px;
}

.icons:hover svg {
    fill: #c7b299;
}

.icons:hover .name {
    color: #c7b299;
}

.icons:hover span {
    background-color: #c7b299;
}



.icons {
    text-align: center;
    width: 266px;
}



.name {
    padding-top: 30px;
    font-size: 22px;
    color: #777;
    font-family: 'Raleway-SemiBold'
}

.etc {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-family: 'MyriadPro-Regular', 'Montserrat-Light';
    color: #8c8c8c;
}

.line {
    display: inline-block;
    background-color: #f1eee9;
    width: 70px;
    height: 3px;
}

main {
    position: relative;
}

.ideas {
    width: auto;
    height: 700px;
    background-color: #fbfaf8;
    margin-top: 80px;
}

.h3 {
    color: #555555;
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway-SemiBold';
    padding-top: 83px;
    padding-bottom: 24px;
}

.comment {
    text-align: center;
    display: block;
    width: 757px;
    margin: auto;
    color: #8c8c8c;
    font-family: 'Montserrat-Light';
    padding-bottom: 40px;
}

.center {
    position: absolute;
    top: 218px;
    left: 576px;
    width: 770px;
    height: 482px;
    z-index: 1;
}

.right {
    position: absolute;
    top: 300px;
    left: 806px;
    width: 770px;
    height: 400px;
}

.left {
    position: absolute;
    top: 300px;
    left: 346px;
    width: 770px;
    height: 400px;
}

.aside_background {
    background-image: -moz-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    width: 100%;
    height: 150px;
}

.single_word:before {
    font-size: 22px;
    font-family: 'Raleway-regular';
    color: #a99783;
    content: "Waxom ";
}

.single_word {
    display: inline-block;
    font-size: 22px;
    font-family: 'Raleway-regular';
    color: #fff;
    padding-left: 376px;
    padding-top: 48px;
}

.rate {
    font-size: 12.5px;
    font-family: 'Raleway-Medium';
    color: #615855;
    padding-left: 376px;
}

.purchase:hover {
    background-color: #6c5541;
    transition: background-color ease 0.3s;
}

.purchase:focus {
    background-color: #342d25;
}

.purchase {
    display: block;
    width: 170px;
    background-color: #998675;
    font-size: 14px;
    font-family: 'Raleway-SemiBold';
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 1376px;
    margin-top: -35px;
}

.now {
    display: inline-block;
    margin-top: 17px;
    padding-bottom: 15px;
}

@media screen and (min-width: 7000px) {
    .aside_background {
        height: 200px;
    }
}

.h1 {
    font-size: 25px;
    font-family: 'Raleway-SemiBold';
    text-align: center;
    color: #555555;
    text-transform: capitalize;
    padding-top: 81px;
}

.latest {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    font-family: 'MyriadPro-Regular', 'Montserrat-Light';
    color: #8c8c8c;
    margin: auto;
    text-align: center;
    width: 757px;
}

.flex_menu {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding-bottom: 34px;
}

.menu_2:hover {
    background-color: #998675;
    transition: background-color ease 0.3s;
    color: #fff;
}

.menu_2 {
    padding: 10px 17px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Montserrat-Light';
    border-radius: 5px;
    text-transform: capitalize;
}

@media screen and (min-width: 5000px) {
    .flex_menu {
        width: 660px;
    }
}

@media screen and (min-width: 7000px) {
    .flex_menu {
        width: 810px;
    }
}

@media screen and (min-width: 5000px) {
    .menu_2 {
        border: 2px solid #ededed;
    }
}

.projects {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
}

.photo {
    width: 350px;
    height: 255px;
    padding-right: 30px;
    padding-top: 25px;
}

.project_bg {
    background-color: #fbfaf8;
    width: 350px;
    height: 100px;
    margin-top: -5px;
}

.h4 {
    font-size: 18px;
    font-family: 'Raleway-Regular';
    text-transform: capitalize;
    color: #c7b299;
    padding-left: 35px;
    padding-top: 28px;
    padding-bottom: 10px;
}

.project_comm {
    font-size: 13px;
    color: #d1d1d1;
    font-family: 'Montserrat-Light';
    padding-left: 35px;
    text-transform: capitalize;
}

.project_hover:hover .link {
    opacity: 1;
}

.link {
    position: absolute;
    top: 130px;
    left: 120px;
    opacity: 0;
}

.project_hover:hover .look {
    opacity: 1;
}

.look {
    position: absolute;
    top: 130px;
    left: 180px;
    opacity: 0;
}


.project_hover:hover .h4 {
    color: #fff;
    transition: ease 0.2s;
}

.project_hover:hover .project_comm {
    color: #c7b299;
    transition: ease 0.2s;
}

.project_hover:hover .project_bg {
    background-color: #362f2d;
    transition: ease 0.2s;
}

.project_hover:hover .photo {
    filter: brightness(50%);
    transition: ease 0.2s;
}

.project_hover {
    position: relative;
}

.video_bg {
    background-image: url(../img/video_bg.png);
    width: 100%;
    height: 700px;
    margin-top: 80px;
}

.circle {
    border-radius: 50%;
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    top: 2280px;
    left: 911px;
    width: 100px;
    height: 100px;
}

.play_button {
    position: absolute;
    top: 2295px;
    left: 926px;
}

.video_presentation {
    text-transform: capitalize;
    font-size: 29px;
    font-family: 'Raleway-Regular';
    color: #fff;
    text-align: center;
    padding-top: 370px;
    font-weight: 300;
    padding-bottom: 29px;
}

.video_comment {
    text-align: center;
    margin: auto;
    width: 552px;
    color: #fff;
    font-family: 'Raleway-Regular';
    font-size: 13px;
}

.time {
    position: absolute;
    top: 2550px;
    left: 945px;
    color: #c7b299;
    font-size: 12px;
}

@media screen and (min-width: 7000px) {
    .time {
        top: 2700px;
    }
}

.mobile {
    width: 100%;
    height: 680px;
    background-color: #fbfaf8;
}

.hand {
    width: 400px;
    height: 600px;
    padding-top: 80px;
    margin-left: 423px;
    float: left;
}

.excellent {
    padding-top: 195px;
    padding-left: 870px;
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Raleway-SemiBold';
    color: #555555;
    text-transform: capitalize;
}

.excellent_comment {
    width: 657px;
    font-size: 15px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    color: #8c8c8c;
    margin-left: 870px;
    padding-bottom: 50px;
}

.list {
    list-style-image: url(../img/li_arrow.png);
    font-size: 15px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    color: #8c8c8c;
    margin-left: 970px;
}

.list li {
    padding-left: 30px;
}

.stats {
    background-image: -moz-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(33, 27, 25) 0%, rgb(78, 52, 39) 100%);
    width: 100%;
    height: 300px;
}

.block {
    margin: auto;
    text-align: center;
    width: 1000px;
    padding-top: 69px;
    display: flex;
    justify-content: space-between;
}

.numbers {
    font-size: 45px;
    font-family: 'Montserrat-ExtraLight';
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.hz {
    color: #c7b299;
    font-size: 14px;
    font-family: 'Montserrat-Light';
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}

.line_1 {
    display: inline-block;
    background-color: #f1eee9;
    width: 50px;
    height: 3px;
}

.recent_posts {
    margin: auto;
    display: flex;
    justify-content: space-around;
    width: 1070px;
    padding-bottom: 40px;
}

.block_1 {
    width: 333px;
    position: relative;
    background-color: #f9f9f9;
}

.recent_bg{
    width: 333px;
    padding-bottom: 20px;
}

.h5 {
    font-size: 19px;
    color: #555555;
    padding-left: 25px;
    font-family: 'Raleway-Medium';
    padding-bottom: 10px;
}

.recent_comment {
    width: 297px;
    padding-left: 25px;
    color: #8c8c8c;
    font-family: 'Montserrat-Light';
    font-size: 13px;
    font-weight: 600;
    padding-bottom: 10px;
}

.recent_link {
    text-decoration: none;
    color: #c7b299;
    font-size: 14px;
    font-family: 'Montserrat-Light';
    padding-left: 25px;
}

.date {
    position: absolute;
    top: 20px;
    left: 20px;
}

.number {
    background-color: #363636;
    width: 50px;
    height: 35px;
    color: #fff;
    font-family: 'Montserrat-Light';
    font-size: 24px;
    text-align: center;
}

.month {
    background-color: #252525;
    width: 50px;
    height: 25px;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 12px;
    text-align: center;
}

.month p {
    padding-top: 4px;
}

@media screen and (min-width: 5000px) {
    .month {
        font-size: 5px;
    }
}

.block_1:hover img {
    filter: brightness(40%);
    transition: ease 0.2s;
}

.block_1:hover .recent_bg {
    background-color: #362f2d;
    transition: ease 0.2s;
}

.block_1:hover .h5 {
    color: #c7b299;
    font-weight: 200;
    transition: ease 0.2s;
}

.block_1:hover .recent_comment {
    color: #fff;
    font-weight: 200;
    transition: ease 0.2s;
}

.block_1:hover .number {
    background-color: #c7b299;
    transition: ease 0.2s;
}

.block_1:hover .month {
    background-color: #a48d72;
    transition: ease 0.2s;
}

.right_arrow{
    position: absolute;
    left: 965px;
}

.left_arrow{
    position: absolute;
    left: 935px;
}

.sponsors_bg{
    width: 100%;
    height: 492px;
    background-image: url(../img/sponsors.png);
    margin-top: 100px;
}

.sponsors_logos{
    padding-top: 160px;
    margin: auto;
    width: 1100px;
    display: flex;
    justify-content: space-around;
}

.footer_1{
    width: 100%;
    background-color: #191919;
    margin-top: -3px;
    padding-top: 90px;
}

.footer_flex{
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.footer_block{
    width: 270px;
    position: relative;
    
}

.waxom_footer{
    display: inline-block;
    font-family: 'Raleway-Regular';
    font-size: 30px;
    color: #fff;
    padding-bottom: 25px;
}

.logo_footer{
    margin-bottom: -15px;
}

.under_logo{
    width: 260px;
    color: #555555;
    font-size: 13px;
    font-family: 'Montserrat-Light';
    font-weight: 600;
    line-height: 22px;
    padding-bottom: 10px;
}

.read:hover{
    color: #c7b299;
}

.read{
    color: #d1d1d1;
    font-size: 13px;
    font-family: 'Montserrat-Regular';
}

.title{
    font-size: 24px;
    font-family: 'Raleway-SemiBold';
    color: #fff;
    padding-top: 25px;
}

.post:hover .footer_date{
    color: #fff;
}

.post:hover .footer_text{
    color: #c7b299;
}

.footer_date{
    display: inline-block;
    font-size: 12px;
    font-family: 'Montserrat-Light';
    color: #363636;
    padding-top: 10px;
}

.footer_text{
    color: #555555;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: 'Montserrat-Light';
}

@media screen and (min-width: 5000px){
    .footer_text{
        font-size: 8px;
    }
}

@media screen and (min-width: 7000px){
    .footer_text{
        font-size: 5px;
    }
}

.footer_line{
    width: 100%;
    height: 1px;
    background-color: #252525;
}

.footer_text_1{
    color: #555555;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-family: 'Montserrat-Light';    
}

.footer_time{
    display: inline-block;
    font-size: 12px;
    font-family: 'Montserrat-Light';
    color: #363636;
}

.dog_waxom{
    color: #069bc4;
}

.bit{
    color: #d1d1d1;
}

@media screen and (min-width: 5000px){
    .footer_text_1{
        font-size: 10px;
    }
}

@media screen and (min-width: 7000px){
    .footer_text_1{
        font-size: 5px;
    }
}

.special_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 7px
}

.special_block img{
    padding-bottom: 7px;
}

.footer_2{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #111111;
}

.flex_box{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.flex_box span{
    color: #555555;
    font-family: 'Montserrat-Light';
}

.waxom_{
    color: #d1d1d1;
}

.policy:hover{
    color: #c7b299;
}

.policy{
    color: #555555;
}

.FAQ:hover{
    color: #c7b299;
}

.FAQ{
    color: #555555;
}

.support:hover{
    color: #c7b299;
}

.support{
    color: #555555;
}
